.title{
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #0D1F3C;
  margin-top: 15px;
  margin-bottom: 25px;
}
.text{
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #000000;
}
.blueText{
  color:#2152FF;
  display: inline;
  margin: 0;
}
.card{
  padding-left: 20px;
  padding-right: 25px;
  margin-bottom: 30px;
}