.calls{
  height: 1000px;
  background: url('/assets/images/calls_images/callsBG.png') no-repeat;
  background-position: left 5%;
  margin-bottom: 100px;
  font-family: Gilroy;
  font-style: normal;
}
@media(max-width: 750px){
  .calls{
    height: 2100px;
    padding-top: 1100px;
  }
}
