
.main{
  height: 1000px;
  background: url('/assets/images/main_images/Background.svg') no-repeat  center 105%;
  background-position: center 105%;
  font-family: Gilroy;
  font-weight: normal;
}
.firstText {
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  color: #FFFFFF;
}
.blueText{
  color: rgba(4, 207, 253, 1);
  background: url('/assets/images/main_images/underline.png') no-repeat;
  background-position: left bottom;
  padding-bottom: 10px;
}
.logo{
  width: 186px;
  height: 62px;
}
.secondBackground{
  position: absolute;
  width: 889.14px;
  height: 938.94px;
  left: 50%;
  top: -169.87px;
}
.underText{
  width: 397px;
  height: 68px;
  font-weight: 500;
  font-size: 26px;
  line-height: 130.2%;
  color: #FFFFFF;
}
.tryButton{
  width: 213px;
  height: 63px;
  background: #03CCF8;
  box-shadow: 0px 2px 19px rgba(39, 96, 163, 0.58);
  border-radius: 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFEBEB;
  border: 0;
}
.guestion{
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-align: center;
  width: 258px;
  height: 19px;
  color: #FFFFFF;
}
.signLink{
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.02em;
  width: 258px;
  height: 19px;
  color: #FFFFFF;
}
.signLink:hover{
  cursor: pointer;
}
.play{
  background: none;
  border: none;
  border-radius: 50%;
}
.playImg{
  border: none;
}
