.calls{
  height: 1000px;
  background: url(/assets/images/calls_images/calls_img.svg) no-repeat;
  background-position: left 5%;
  margin-bottom: 100px;
  font-family: Gilroy;
  font-style: normal;
}
.text{
  font-weight: 500;
  font-size: 18px;
  line-height: 139%;
  text-align: right;
  letter-spacing: 0.02em;
  color: #000000;
}
.title{
  font-weight: 600;
  font-size: 44px;
  line-height: 54px;
  text-align: right;
  letter-spacing: 0.02em;
}