.price{
  font-weight: 600;
  font-size: 36px;
  line-height: 25px;
  letter-spacing: 0.02em;
}
.perMonth{
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  display: inline;
}
.name{
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
}
.text{
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
}
.list{
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  list-style: none;
}
.bluePack{
  background: linear-gradient(180.9deg, #0674E4 -63.78%, #031F7D 115.4%);
  box-shadow: 0px 20px 30px rgba(25, 27, 27, 0.2);
  border-radius: 26px;
  color: #ffffff;
  height: 460px;
  padding-top: 0px;
}
.pricePack{
  padding-top: 30px;
}