.comments{
  position: relative;
  font-family: Gilroy;
  font-weight: normal;
  padding-bottom: 130px;
  background: url('/assets/images/comments_images/background.png') no-repeat;
  background-position: center bottom;
}
.title{
  background: url('/assets/images/comments_images/underline.png') no-repeat ;
  background-position: bottom;
  margin-bottom: 30px;;
}
.slider{
  margin-top: 70px;
}
.comment li{
  text-align: center;
  list-style: none;
  display: inline-block;
}
.sliderBlock{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.comments button{
  background: 0;
  border: 0;
}
.slide{
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active{
  opacity: 1;
  transition-duration: 1s;
}
.nextButton:hover{
  background: url('/assets/images/comments_images/nextArrow.png');
}
.prevButton:hover{
  background: url('/assets/images/comments_images/prevArrow.png');
}
.sliderBar{
  width: 26px;
  height: 8px;
  background: #2152FF;
  border-radius: 10px;
  display: inline-block;
  margin: 5px;
}
.sliderBarCurrent{
  transition: all 0.2s;
  width: 81px;
  height: 8px;
  background: #2152FF;
  border-radius: 10px;
  display: inline-block;
  margin: 5px;
}