.packs{
  font-family: Gilroy;
  font-style: normal;
  padding-bottom: 150px;
  background: url('/assets/images/packs_images/Subtract.svg') no-repeat bottom;
  background-size: contain;
}
.table{
  width: 1200px;
  background-color: #FFFFFF;
  border-radius: 30px;
  margin-top: 70px;
}
.describingText{
  background: url('/assets/images/packs_images/sale.png') no-repeat;
  background-position: 67% bottom;
}
.packsContainer{
  background: url('/assets/images/packs_images/money.png') no-repeat 5% 34%;;
}
.chooseButton{
  width: 207px;
  height: 43px;
  font-family: Gilroy;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #2152FF;
  background: #DAE6EC;
  border-radius: 10px;
  border:0;
  margin-bottom: 20px;
}
.blueChooseButton{
  width: 207px;
  height: 43px;
  font-family: Gilroy;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background: #03CCF8;
  border-radius: 10px;
  border:0;
  margin: 0 auto;
  margin-bottom: 25px;
}
/**********************************************
***************PackButton**********************
**********************************************/
.buttonBlock{
  width: 220px;
  border-radius: 25px;
  background-color: #ffffff;
}
.choiseButton{
  height: 44px;
  width: 110px;
  border-radius: 22px;
  border: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  background-color: #ffffff;
  color: #2152FF;
  text-align: center;
  letter-spacing: 0.833333px;
  font-family: Gilroy;
}
.choiseBlueButton{
  height: 44px;
  width: 110px;
  border-radius: 22px;
  border: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  background-color: #2152FF;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.833333px;
  font-family: Gilroy;
}
