.price{
  font-weight: 600;
  font-size: 36px;
  line-height: 25px;
  letter-spacing: 0.02em;
}
.perMonth{
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  display: inline;
}
.name{
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  margin-bottom: 0;
}
.text{
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  margin-top: 10px;
}
.list{
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  list-style-type: none;
  letter-spacing: 0.02em;
  padding-left: 25px;
    li{
      position: relative;
      height: 25px;
      margin-bottom: 5px;
    }
    li::before{
      content:  url('/assets/images/packs_images/check-circle-1.png');
      position: absolute;
      left: -10%;
    }
}
.noPopular{
  display: none;
}
.popular{
  float: right;
  margin-top: 15px;
  padding-top: 7px;
  background: #03CCF8;
  border-radius: 13.5px;
  height: 27px;
  width: 121px;
  text-align: center;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.bluePack{
  background: url('/assets/images/packs_images/bluePack.png');
  background-position: top;
  box-shadow: 0px 20px 30px rgba(25, 27, 27, 0.2);
  border-radius: 26px;
  color: #ffffff;
  height: 480px;
  margin-top: -40px;
  .price{
    padding-top: 15px;
  }
  .list li::before{
    content: url('/assets/images/packs_images/check-circle-blue.png');
  }
}
.pricePack{
  height: 460px;
}

.cardPrice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
