.customization{
  font-family: Gilroy;
  font-style: normal;
  margin-bottom: 100px;
  margin-top: 100px;
  height: 1700px;
  background: url('/assets/images/customization_images/Rectangle\ 554.svg') no-repeat;
  background-position: bottom center;

}
.title{
  background: url('/assets/images/customization_images/arrow.png') no-repeat;
  background-position: left 10% ;
}
.img{
  margin-top: 20px;
}
@media(max-width: 750px){
  .customization{
    margin-bottom: 400px;
  }
}