.customization{
  font-family: Gilroy;
  font-style: normal;
  margin-bottom: 100px;
  margin-top: 100px;
  height: 1700px;
  background: url('/assets/images/customization_images/Rectangle\ 554.svg') no-repeat;
  background-position: bottom center;

}
.title{
  background: url('/assets/images/customization_images/arrow.png') no-repeat;
  background-position: left bottom;
  padding-bottom: 100px;
}
.imgBlock{
  height: 755px;
  max-width: 100%;
  background: url('/assets/images/customization_images/customization.svg') no-repeat;
  background-position: center;
}
@media(max-width: 750px){
  .customization{
    margin-bottom: 400px;
  }
}