.direct{
  font-family: Gilroy;
  font-style: normal;
  background: url('/assets/images/direct_images/Rectangle\ 578.svg') no-repeat;
  background-position: center;
  margin-bottom: 200px;
}
.title{
  font-weight: 600;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 0.02em;
}
.text{
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
}