.direct{
  font-family: Gilroy;
  font-style: normal;
  background: url('/assets/images/direct_images/Rectangle\ 578.svg') no-repeat;
  background-position: center;
  margin-bottom: 200px;
}
@media(max-width: 750px){
  .direct{
    background-position: center 25%;
  }
  .directImg{
    margin-top: -250px;
  }
}
.directImg{
  width: 1300px;
  height: 1050px;
  max-width: 100%;
  background: url("/assets/images/direct_images/dir_img.svg") no-repeat;
  background-position: center;
  margin: 0 auto;
}

