.integration{
  background: url('/assets/images/integration_images/BG.svg') no-repeat;
  height: 1100px;
  font-family: Gilroy;
  font-style: normal;
}
@media(max-width: 800px){
  .integration{
    height:2000px;
    padding-top: 150px;
  }
}
