.crm{
  font-family: Gilroy;
  font-style: normal;
  padding-bottom: 200px;
  background: url('/assets/images/crm_images/background.svg') no-repeat;
  background-position: 20% 100%;
}
.title{
  margin-top: 100px;
  margin-bottom: 60px;
}
.crmContainer{
  background: url('/assets/images/crm_images/arrow.png') no-repeat ;
  background-position: 2% 18%;
}
.crmImg{
  background: url('/assets/images/crm_images/crm_img.svg') no-repeat;
  height: 1100px;
  background-position: center;
}

@media(max-width: 750px){
  .crm{
    background-position: 50% 25%;
  }
}
