.footer{
  font-family: Gilroy;
  font-weight: normal;
  padding-bottom: 150px;
}
.title{
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #2152FF;
  margin-bottom: 30px;
}
.list{
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #3D4C63;
  list-style: none;
  padding: 0;
  font-family: Gilroy;
  font-style: normal;
}
.list li{
  margin: 10px 0 20px 0;
  position: relative;
}
.forgeChat{
  color: #2152FF;
  font-weight: 600;
  font-size: 24px;
  line-height: 21px;
  letter-spacing: 0.02em;
  display: inline;
  padding-left: 45px;
}
.list a{
  list-style-type: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #3D4C63;
  text-decoration: none;
}
.miniImg{
  padding-right: 62px;
}
.networks{
  background: url('/assets/images/footer_images/underline.png') no-repeat;
  background-position: bottom left;
  padding-bottom: 20px;
}
.product{
 padding-left: 100px;
 background: url('/assets/images/footer_images/BG_1.png') no-repeat;
 background-position: center;
}
.company{
  padding-left: 80px;
  background: url('/assets/images/footer_images/BG_2.png') no-repeat;
  background-position: center;
}
.contacts{
  padding-left: 50px;
  background: url('/assets/images/footer_images/BG_3.png') no-repeat;
  background-position: center;
}
@media(max-width: 800px){
  .product{
    padding-left: 20px;
    background: url('/assets/images/footer_images/BG_1.png') no-repeat;
    background-position: center;
   }
   .company{
     padding-left: 20px;
     background: url('/assets/images/footer_images/BG_2.png') no-repeat;
     background-position: center;
   }
   .contacts{
     padding-left: 20px;
     background: url('/assets/images/footer_images/BG_3.png') no-repeat;
     background-position: center;
   }
}