.chatbot{
  /*background: url(../assets/images/chatbot_images/image.svg) no-repeat;*/
  height: 1100px;
  font-family: Gilroy;
  font-style: normal;
}
.chatbot-text{
  font-weight: 500;
  font-size: 18px;
  line-height: 139%;
  text-align: right;
  letter-spacing: 0.02em;
  color: #000000;
}
.chatbot-title{
  font-weight: 600;
  font-size: 44px;
  line-height: 54px;
  text-align: right;
  letter-spacing: 0.02em;
}
.chatbot-responses-title{
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0.02em;
  text-align: left;
}
.chatbot-responses-text{
  font-weight: 500;
  font-size: 18px;
  line-height: 139%;
  letter-spacing: 0.02em;
}