
.main{
  height: 1000px;
  background: url('/assets/images/main_images/Background.svg') no-repeat;
  background-position: center 105%;
  font-family: Gilroy;
  font-weight: normal;
}
.first-text {
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  color: #FFFFFF;
}
.conversation-text{
  color: rgba(4, 207, 253, 1);
}
.logo{
  width: 186px;
  height: 62px;
}
.second-background{
  position: absolute;
  width: 889.14px;
  height: 938.94px;
  left: 709.27px;
  top: -169.87px;
}
.under-first-text{
  width: 397px;
  height: 68px;
  font-weight: 500;
  font-size: 26px;
  line-height: 130.2%;
  color: #FFFFFF;
}
.try-button{
  width: 213px;
  height: 63px;
  background: #03CCF8;
  box-shadow: 0px 2px 19px rgba(39, 96, 163, 0.58);
  border-radius: 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFEBEB;
}

.guestion-under-button{
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-align: center;
  width: 258px;
  height: 19px;
  color: #FFFFFF;
}
.sign-link{
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.02em;
  width: 258px;
  height: 19px;
  color: #FFFFFF;
}
.sign-link:hover{
  cursor: pointer;
}
.play{
  background: none;
  border: none;
  border-radius: 50%;
}
.play-img{
  border: none;
}
